# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.xml
out
gen
.idea/illuminatedCloud.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
AppCont.iml
IlluminatedCloud/
src/classes/AccContactPrimaryChangeService.cls-meta.xml
src/classes/ImportAccountsToCSVFileBatch.cls-meta.xml

